:root {
  scroll-behavior: smooth;
  --primary-theme-color: rgb(50, 1, 70);
  --secondary-theme-color: #0c0111;
  --primary-text-color: #fff;
  --primary-highlight-color: #61dafb;
  --primary-section: 2rem 0;
  --padding-container: 0 1rem;
  --max-width-container: 1024px;
  --primary-all-transition: all 0.25s ease-in-out;
  --letter-color-1: rgb(236, 11, 48);
  --letter-color-2: #d80cd8;
  --letter-color-3: #d6da08;
  --letter-color-4: #00bef8;
  --primary-font-family: 'Bungee Shade', cursive;
}

@keyframes zoom {
  100% {
    transform: scale(1.125);
  }
}

.body {
  background-image: radial-gradient(var(--primary-theme-color), var(--secondary-theme-color));
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.hero__name {
  font-size: 2rem;
  text-decoration: none;
  animation: zoom 2s ease-in-out infinite alternate;
}

.hero__name-letter {
  position: relative;
  transition: var(--primary-all-transition);
}

.hero__name-letter:hover {
  filter: brightness(250%);
}

.hero__name-letter:nth-child(1) {
  color: var(--letter-color-1);
}

.hero__name-letter:nth-child(2) {
  color: var(--letter-color-2);
}

.hero__name-letter:nth-child(3) {
  color: var(--letter-color-3);
}

.hero__name-letter:nth-child(4) {
  color: var(--letter-color-4);
}

.hero__name-letter:nth-child(5) {
  color: var(--letter-color-1);
}

.hero__name-letter:nth-child(6) {
  color: var(--letter-color-3);
}

.hero__name-letter::before {
  content: var(--letter);
  position: absolute;
  transform: scale(1.1);
  filter: blur(0.4rem);
}

.hero__name-letter::after {
  content: var(--letter);
  position: absolute;
  top: 45%;
  left: 0;
  filter: blur(0.5rem);
  transform: rotateX(128deg);
}

@media (min-width: 854px) {
  .hero__name {
    font-size: 5rem;
  }
}